*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 *::-webkit-scrollbar {
    width: 0.2rem;
 }
  
 *::-webkit-scrollbar-track {
    background: #f1f1f1;
 }
  
 *::-webkit-scrollbar-thumb {
    background: #888;
 }
  
 *::-webkit-scrollbar-thumb:hover {
    background: #555;
 }
 
 @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
 }
 
 body {
    font-family: 'OpenSans';
 }
 
 ul {
    list-style: none;
 }
 
 a {
    text-decoration: none;
 }




 /*  MENU SECTION  */

.container{
   margin: 0 auto;
}

.main__app .container{
   display: flex;
   position: relative;
}

.left__app{
   width: 400px;
   height: 100vh;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu {
   background-color: white;
   position: absolute;
   width: 300px;
   height: 100vh;
   left: 0;
   top: 0;
   z-index: 3;
   box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
   transform: translateX(-100%);
   transition: .5s;
}

.menu__header{
   background-image: url("/images/can-you-hire-a-hacker-ods.jpg");
   height: 150px;
   background-size: cover;
   padding: 25px;
}

.menu__header__image{
   width: 50px;
   border-radius: 50%;
   margin-bottom: 20px;
}

.left__app__header{
   padding: 10px;
   display: flex;
   width: 100%;
}

.hamburger__button {
   width: 20px;
   border: none;
   outline: none;
   background-color: transparent;
   transition: .3s;
   cursor: pointer;
}

.hamburger__image {
   width: 100%;
}

.search__input {
   padding: 10px 15px;
   margin-left: 10px;
   width: calc(100% / 1);
   background-color: #F1F1F1;
   outline: none;   
   border-radius: 5px;
   font-size: 16px;
}

.border-input {
   border: 1px solid rgb(30, 176, 202);
}

.search__input::placeholder {
   font-size: 13px;
}

.chats{
   height: calc(100vh - 70px);
   overflow-y: scroll;
}

.account__item{
   display: flex;
   align-items: center;
   margin: 10px 0;
   padding: 5px 10px;
   transition: background .3s;
   cursor: pointer;
}

.account__item:hover{
   background-color: rgba(0, 0, 0, 0.1);
}

.account__image{
   border-radius: 50%;
   width: 55px;
}

.account__text{
   margin-left: 15px;
}

.account__name{
   font-size: 1,5rem;
   font-weight: 500;
}

.account__you{
   margin-top: 3px;
   color: rgba(0, 0, 0, 0.6);
   font-size: 0.9rem;
   color: #1AB6E8;
}

.account__you span{
   color: rgb(59, 141, 11);
}

.account__time {
   align-self: flex-start;
   margin-left: auto;
   margin-right: 10px;
   margin-top: 10px;
   font-size: 0.9rem;
}