*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0.2rem;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'OpenSans';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main__app {
    .container {
        display: flex;
        position: relative;
        margin: 0 auto;
    }
}

.left__app {
    width: 370px;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    .menu {
        width: 370px;
        height: 100vh;
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        transform: translateX(-100%);
        transition: .5s;
    }
    .menu__header__image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .menu__header {
        height: 180px;
        padding: 25px;
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1);
        .menu__header__text {
            width: 100%;
            color: #180808;
            font-size: 20px;
            line-height: 1.2;
            span {
                font-size: 15px;
            }
        }
    }
    .menu__main {
        .main__list {
            margin-top: 20px;
            .main__item:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
            .main__item:last-child {
                display: flex;
                align-items: center;
            }
            .main__item {
                padding: 25px;
                padding-left: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: background .3s;
                .main__image {
                    width: 25px;
                }
                .main__text {
                    margin-left: 10px;
                    font-size: 18px;
                }
                .night {
                    margin-right: 100px;
                    display: flex;
                    align-items: center;
                }
                .mode {
                    background-color: rgba(0, 0, 0, 0.1);
                    width: 45px;
                    height: 20px;
                    border-radius: 50px;
                    margin-right: 25px;
                }
                .mode__button {
                    border-radius: 50%;
                    width: 25px;
                    height: 20px;
                    border: none;
                    outline: none;
                    transition: .3s;
                }
                .mode__button:focus {
                    transform: translateX(80%);
                    background-color: skyblue;
                }
            }
        }
    }
    .shadow {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        width: 99.9%;
        height: 99.9%;
        z-index: 2;
        transition: .3s;
    }
    .shadowHidden {
        display: none;
    }
}

.left {
    .left__app__header {
        padding: 10px;
        display: flex;
        width: 100%;
        .hamburger__button {
            width: 20px;
            border: none;
            outline: none;
            background-color: transparent;
            transition: .3s;
            cursor: pointer;
            .hamburger__image {
                width: 100%;
            }
        }
        .search__input {
            padding: 10px 15px;
            margin-left: 10px;
            width: calc(100% /1);
            background-color: #f1f1f1;
            outline: none;
            border-radius: 5px;
            font-size: 16px;
        }
        .search__input::placeholder {
            font-size: 13px;
        }
        .border-input {
            border: 1px solid rgb(30, 176, 202);
        }
    }
    .chats {
        height: calc(100vh - 70px);
        overflow-y: scroll;
        .account__list {
            .account__item:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
            .account__item {
                display: flex;
                align-items: center;
                margin: 10px 0;
                padding: 5px 10px;
                transition: background .3s;
                cursor: pointer;
                .account__image {
                    border-radius: 50%;
                    width: 55px;
                }
                .account__text {
                    margin-left: 15px;
                    .account__name {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    .account__you {
                        margin-top: 3px;
                        color: rgba(0, 0, 0, 0.6);
                        font-size: 0.9rem;
                        color: #1AB6E8;
                        span {
                            color: yellowgreen;
                            font-size: 0.9rem;
                        }
                    }
                }
                .account__time {
                    align-self: flex-start;
                    margin-left: auto;
                    margin-right: 10px;
                    margin-top: 10px;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

.chatHidden {
    display: none;
}

.right_app {
    width: calc(100vw - 300px);
    height: 100vh;
    position: relative;
    .chat__modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-86%, -50%);
        width: 33%;
        height: 95%;
        overflow-y: scroll;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        z-index: 4;
        .info__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;
            padding-bottom: 0;
            .user__info {
                font-size: 20px;
            }
            .user__btn {
                font-size: 30px;
                cursor: pointer;
            }
        }
        .info__name {
            display: flex;
            align-items: center;
            margin-top: 30px;
            padding: 25px;
            padding-top: 0;
            .info__name__img {
                width: 70px;
                border-radius: 50%;
            }
            .info__name__text {
                margin-left: 20px;
                font-size: 20px;
                font-weight: 550;
            }
            .info__name__time {
                margin-left: 20px;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.5);
            }
        }
        .back {
            background-color: rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 8px;
        }
        .personality__list {
            padding: 25px;
            .mobile {
                display: flex;
                align-items: center;
                .mobile__img {
                    width: 30px;
                }
            }
            .mobile__text {
                margin-left: 40px;
                .mob {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            .bio {
                margin: 20px 0;
                margin-left: 70px;
                padding-bottom: 30px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                .bio__slog {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
            .notific {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div {
                    display: flex;
                    align-items: center;
                    .notific__img {
                        width: 30px;
                    }
                    .notific__text {
                        margin-left: 40px;
                    }
                }
                .mode {
                    background-color: rgba(0, 0, 0, 0.1);
                    width: 45px;
                    height: 20px;
                    border-radius: 50px;
                    margin-right: 25px;
                }
                .mode__button {
                    border-radius: 50%;
                    width: 25px;
                    height: 20px;
                    border: none;
                    outline: none;
                    transition: .3s;
                }
                .mode__button:focus {
                    transform: translateX(80%);
                    background-color: skyblue;
                }
            }
        }
        .contact__footer {
            padding: 25px;
            padding-bottom: 0;
            margin-top: 15px;
            .contact__item1 {
                display: flex;
                align-items: center;
                p {
                    margin-left: 40px;
                }
            }
            .contact__item {
                margin: 10px 0;
                margin-left: 65px;
            }
            .contact__item2 {
                color: red;
                margin-left: 65px;
            }
        }
    }
    .right_app__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        height: 70px;
        .profile__section {
            display: flex;
            align-items: center;
            .left-arrow_button {
                display: none;
                border: none;
                outline: none;
                background-color: transparent;
                padding: 10px;
                cursor: pointer;
                .left-arrow {
                    width: 30px;
                }
            }
            .profile__modal {
                margin-left: 10px;
                width: 900px;
                .profile__name {
                    font-size: 1.3rem;
                }
                .profile__slog {
                    color: rgba(0, 0, 0, 0.6);
                }
            }
        }
        .profile__image {
            display: flex;
            align-items: center;
            .profile__icon__button {
                border: none;
                outline: none;
                background-color: transparent;
                padding: 0 5px;
                cursor: pointer;
                .profile__icon1 {
                    width: 25px;
                }
                .profile__icon {
                    width: 35px;
                    margin-left: 5px;
                }
            }
        }
    }
    .right_app__main {
        background-image: url("/images/can-you-hire-a-hacker-ods.jpg");
        background-repeat: no-repeat;
        width: calc(80vw - 300px);
        height: calc(100vh - 120px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        .message__list {
            display: flex;
            justify-items: flex-end;
            flex-direction: column-reverse;
            padding: 20px;
            .select-box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 75vh;
                .select-chat {
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    padding: 5px 10px;
                    border-radius: 20px;
                }
            }
        }
    }
    .right_app__footer {
        width: calc(80vw - 300px);
        height: 50px;
        position: relative;
        .emojiListHidden {
            display: none;
        }
        .emoji-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 30%;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 5;
            bottom: 120%;
            right: 5%;
            .emoji-item {
                padding: 15px 10px;
                cursor: pointer;
                font-size: 20px;
            }
        }
        .message__form {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            .message__textarea {
                outline: none;
                min-height: 1%;
                font-size: 17px;
                padding: 0 10px;
                width: 97%;
                resize: none;
                border: none;
                overflow: hidden;
            }
            .emoji__button {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                margin-right: 10px;
                .emoji__icon__img {
                    width: 30px;
                }
            }
            .message__send__button {
                width: 3%;
                height: 50px;
                border: none;
                outline: none;
                background-color: transparent;
                padding-right: 10px;
                cursor: pointer;
                .message__send__icon {
                    width: 100%;
                }
            }
            .paper__button {
                margin-left: 10px;
                width: 30px;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                .paper-clip {
                    width: 100%;
                }
            }
        }
    }
}