*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'OpenSans';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main__app .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.left__app {
  width: 370px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.left__app .menu {
  width: 370px;
  height: 100vh;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.left__app .menu__header__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.left__app .menu__header {
  height: 180px;
  padding: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#3f87a6), to(#ebf8e1));
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1);
}

.left__app .menu__header .menu__header__text {
  width: 100%;
  color: #180808;
  font-size: 20px;
  line-height: 1.2;
}

.left__app .menu__header .menu__header__text span {
  font-size: 15px;
}

.left__app .menu__main .main__list {
  margin-top: 20px;
}

.left__app .menu__main .main__list .main__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.left__app .menu__main .main__list .main__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left__app .menu__main .main__list .main__item {
  padding: 25px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.left__app .menu__main .main__list .main__item .main__image {
  width: 25px;
}

.left__app .menu__main .main__list .main__item .main__text {
  margin-left: 10px;
  font-size: 18px;
}

.left__app .menu__main .main__list .main__item .night {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left__app .menu__main .main__list .main__item .mode {
  background-color: rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 20px;
  border-radius: 50px;
  margin-right: 25px;
}

.left__app .menu__main .main__list .main__item .mode__button {
  border-radius: 50%;
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.left__app .menu__main .main__list .main__item .mode__button:focus {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  background-color: skyblue;
}

.left__app .shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 99.9%;
  height: 99.9%;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s;
}

.left__app .shadowHidden {
  display: none;
}

.main__app__header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__app__header .hamburger__button {
  width: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.main__app__header .hamburger__button .hamburger__image {
  width: 100%;
}

.main__app__header .search__input {
  padding: 10px 15px;
  margin-left: 10px;
  width: calc(100% /1);
  background-color: #f1f1f1;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

.main__app__header .search__input::-webkit-input-placeholder {
  font-size: 13px;
}

.main__app__header .search__input:-ms-input-placeholder {
  font-size: 13px;
}

.main__app__header .search__input::-ms-input-placeholder {
  font-size: 13px;
}

.main__app__header .search__input::placeholder {
  font-size: 13px;
}

.main__app__header .border-input {
  border: 1px solid #1eb0ca;
}

.chats {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.chats .account__list .account__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chats .account__list .account__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  padding: 5px 10px;
  -webkit-transition: background .3s;
  transition: background .3s;
  cursor: pointer;
}

.chats .account__list .account__item .account__image {
  border-radius: 50%;
  width: 55px;
}

.chats .account__list .account__item .account__text {
  margin-left: 15px;
}

.chats .account__list .account__item .account__text .account__name {
  font-size: 1rem;
  font-weight: 500;
}

.chats .account__list .account__item .account__text .account__you {
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  color: #1AB6E8;
}

.chats .account__list .account__item .account__text .account__you span {
  color: yellowgreen;
  font-size: 0.9rem;
}

.chats .account__list .account__item .account__time {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 0.9rem;
}

.chatHidden {
  display: none;
}

.right_app {
  width: calc(100vw - 300px);
  height: 100vh;
  position: relative;
}

.right_app .chat__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-86%, -50%);
          transform: translate(-86%, -50%);
  width: 33%;
  height: 95%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.right_app .chat__modal .info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  padding-bottom: 0;
}

.right_app .chat__modal .info__header .user__info {
  font-size: 20px;
}

.right_app .chat__modal .info__header .user__btn {
  font-size: 30px;
  cursor: pointer;
}

.right_app .chat__modal .info__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding: 25px;
  padding-top: 0;
}

.right_app .chat__modal .info__name .info__name__img {
  width: 70px;
  border-radius: 50%;
}

.right_app .chat__modal .info__name .info__name__text {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 550;
}

.right_app .chat__modal .info__name .info__name__time {
  margin-left: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.right_app .chat__modal .back {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 8px;
}

.right_app .chat__modal .personality__list {
  padding: 25px;
}

.right_app .chat__modal .personality__list .mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_app .chat__modal .personality__list .mobile .mobile__img {
  width: 30px;
}

.right_app .chat__modal .personality__list .mobile__text {
  margin-left: 40px;
}

.right_app .chat__modal .personality__list .mobile__text .mob {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.right_app .chat__modal .personality__list .bio {
  margin: 20px 0;
  margin-left: 70px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.right_app .chat__modal .personality__list .bio .bio__slog {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.right_app .chat__modal .personality__list .notific {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_app .chat__modal .personality__list .notific div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_app .chat__modal .personality__list .notific div .notific__img {
  width: 30px;
}

.right_app .chat__modal .personality__list .notific div .notific__text {
  margin-left: 40px;
}

.right_app .chat__modal .personality__list .notific .mode {
  background-color: rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 20px;
  border-radius: 50px;
  margin-right: 25px;
}

.right_app .chat__modal .personality__list .notific .mode__button {
  border-radius: 50%;
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.right_app .chat__modal .personality__list .notific .mode__button:focus {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  background-color: skyblue;
}

.right_app .chat__modal .contact__footer {
  padding: 25px;
  padding-bottom: 0;
  margin-top: 15px;
}

.right_app .chat__modal .contact__footer .contact__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_app .chat__modal .contact__footer .contact__item1 p {
  margin-left: 40px;
}

.right_app .chat__modal .contact__footer .contact__item {
  margin: 10px 0;
  margin-left: 65px;
}

.right_app .chat__modal .contact__footer .contact__item2 {
  color: red;
  margin-left: 65px;
}

.right_app .right_app__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 70px;
}

.right_app .right_app__header .profile__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_app .right_app__header .profile__section .left-arrow_button {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.right_app .right_app__header .profile__section .left-arrow_button .left-arrow {
  width: 30px;
}

.right_app .right_app__header .profile__section .profile__modal {
  margin-left: 10px;
  width: 900px;
}

.right_app .right_app__header .profile__section .profile__modal .profile__name {
  font-size: 1.3rem;
}

.right_app .right_app__header .profile__section .profile__modal .profile__slog {
  color: rgba(0, 0, 0, 0.6);
}

.right_app .right_app__header .profile__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_app .right_app__header .profile__image .profile__icon__button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 5px;
  cursor: pointer;
}

.right_app .right_app__header .profile__image .profile__icon__button .profile__icon1 {
  width: 25px;
}

.right_app .right_app__header .profile__image .profile__icon__button .profile__icon {
  width: 35px;
  margin-left: 5px;
}

.right_app .right_app__main {
  background-image: url("/images/can-you-hire-a-hacker-ods.jpg");
  background-repeat: no-repeat;
  width: calc(80vw - 300px);
  height: calc(100vh - 120px);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.right_app .right_app__main .message__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 20px;
}

.right_app .right_app__main .message__list .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
}

.right_app .right_app__main .message__list .select-box .select-chat {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.right_app .right_app__footer {
  width: calc(80vw - 300px);
  height: 50px;
  position: relative;
}

.right_app .right_app__footer .emojiListHidden {
  display: none;
}

.right_app .right_app__footer .emoji-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  bottom: 120%;
  right: 5%;
}

.right_app .right_app__footer .emoji-list .emoji-item {
  padding: 15px 10px;
  cursor: pointer;
  font-size: 20px;
}

.right_app .right_app__footer .message__form {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_app .right_app__footer .message__form .message__textarea {
  outline: none;
  min-height: 1%;
  font-size: 17px;
  padding: 0 10px;
  width: 97%;
  resize: none;
  border: none;
  overflow: hidden;
}

.right_app .right_app__footer .message__form .emoji__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.right_app .right_app__footer .message__form .emoji__button .emoji__icon__img {
  width: 30px;
}

.right_app .right_app__footer .message__form .message__send__button {
  width: 3%;
  height: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 10px;
  cursor: pointer;
}

.right_app .right_app__footer .message__form .message__send__button .message__send__icon {
  width: 100%;
}

.right_app .right_app__footer .message__form .paper__button {
  margin-left: 10px;
  width: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.right_app .right_app__footer .message__form .paper__button .paper-clip {
  width: 100%;
}

.settingsHidden {
  display: none;
}

.settings__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 27%;
  height: 95%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px;
  z-index: 4;
  -webkit-transition: .4s;
  transition: .4s;
}

.settings__modal .settings__modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.settings__modal .settings__modal__header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.settings__modal .settings__modal__header .settings__modal__title {
  font-size: 21px;
  font-weight: normal;
}

.settings__modal .settings__modal__button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.settings__modal .settings__modal__button .settings__modal__image1 {
  width: 26px;
  margin-right: 5px;
}

.settings__modal .settings__modal__button .settings__modal__image2 {
  width: 22px;
}

.settings__modal .threedotHidden {
  display: none;
}

.settings__modal .threedot__list {
  position: absolute;
  top: 95%;
  right: 45%;
  background-color: white;
  width: 180px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
}

.settings__modal .threedot__list .threedot__item {
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.settings__modal .threedot__list .threedot__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.settings__modal .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.settings__modal .logo .logo__image {
  width: 65px;
  height: 55px;
  border-radius: 50%;
}

.settings__modal .logo .logo__text {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  line-height: 1.2;
}

.settings__modal .logo .logo__text span {
  font-size: 15px;
  font-weight: normal;
  color: #1eb0ca;
}

.settings__modal .settings__main {
  background-color: rgba(0, 0, 0, 0.1);
}

.settings__modal .settings__main .settings__main__list {
  background-color: white;
  margin: 10px 0;
  width: 100%;
}

.settings__modal .settings__main .settings__main__list .settings__main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px 0;
  padding: 6px 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.settings__modal .settings__main .settings__main__list .settings__main__item .item__img {
  width: 25px;
}

.settings__modal .settings__main .settings__main__list .settings__main__item .item__text {
  font-size: 15px;
  margin-left: 30px;
}

.settings__modal .settings__main .settings__main__list .settings__main__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.settings__modal .interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings__modal .interface .interface__head__list:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.settings__modal .interface .interface__head__list {
  margin: 15px 0;
  padding: 10px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.settings__modal .interface .interface__head__list .interface__head__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.settings__modal .interface .interface__head__list .interface__head__item .mode {
  background-color: rgba(0, 0, 0, 0.1);
  width: 45px;
  height: 20px;
  border-radius: 50px;
  margin-right: 25px;
}

.settings__modal .interface .interface__head__list .interface__head__item .mode__button {
  border-radius: 50%;
  width: 25px;
  height: 20px;
  border: none;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.settings__modal .interface .interface__head__list .interface__head__item .mode__button:focus {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  background-color: skyblue;
}

.settings__modal .interface .interface__head__list .interface__head__item p {
  margin-left: 20px;
}

.settings__modal .button__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.settings__modal .button__list .button__item {
  padding: 15px;
}

.settings__modal .button__list .button__item .interface__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.settings__modal .button__list .button__item .interface__button .interface__percent {
  font-size: 15px;
}

.settings__modal .button__list .button__item .interface__button .interface__back {
  background-color: rgba(0, 0, 0, 0.1);
  color: #1eb0ca;
  width: 50px;
  height: 2px;
  margin-bottom: 10px;
}

.settings__modal .button__list .button__item .interface__button:focus {
  color: #1eb0ca;
}

.settings__modal .settings__modal__footer {
  margin-top: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.settings__modal .settings__modal__footer .settings__modal__footer__list {
  background-color: white;
  padding: 20px;
}

.settings__modal .settings__modal__footer .settings__modal__footer__list .settings__modal__footer__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  height: 100%;
}

.settings__modal .settings__modal__footer .settings__modal__footer__list .settings__modal__footer__item1 .settings__modal__footer__img {
  width: 25px;
}

.settings__modal .settings__modal__footer .settings__modal__footer__list .settings__modal__footer__item1 .settings__modal__footer__text1 {
  margin-left: 30px;
}

.settings__modal .settings__modal__footer__item .settings__modal__footer__text {
  margin-left: 55px;
}

.message__item,
.message__item1 {
  padding: 15px;
  padding-bottom: 5px;
  max-width: 50%;
  border-radius: 5px;
}

.message__item {
  padding-right: 0;
  background-color: white;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__item1 {
  padding-right: 5px;
  background-color: #DFF5FD;
  margin: 10px 0;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__box,
.message__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__text {
  line-height: 1.2;
}

.message__box2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
  margin-left: 5px;
  max-width: 200px;
  margin-left: auto;
}

.message__view__icon {
  width: 0.7rem;
}

.message__time {
  font-size: 0.7rem;
}

.message__check__icon {
  width: 0.8rem;
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */